.circle-container {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  /* margin-bottom: 1000px; */
}

.ciclegraph {
  position: relative;
  width: 500px;
  height: 500px;
  margin: calc(100px / 2 + 2px);
  flex-direction: row;
}

.ciclegraph:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid teal;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  border-radius: 50%;
}

.ciclegraph .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: calc(-100px / 2);

  border-radius: 50%;
}
.circle:hover {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: white;
  display: inline-block;
}
.midicon {
  position: absolute;
  top: 300px;
  left: 5px;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;

  font-size: 2em;
  margin-top: 50px;
  -moz-border-radius: 50%;
  border-radius: 30px;
  width: 200px;
  height: 200px;

  color: #5f6368;
  letter-spacing: 4px;
  box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.text {
  position: relative;
  top: 65px;
  /* left: 10px; */
  right: 2px;
  margin-right: 130px;
  text-align: center;
  /* margin-left: 1px; */

  width: 40px;
  height: 40px;

  font-size: 1.3em;
  color: #5f6368;

  /* padding-left: 0.01em; */
}
.icon-block1 {
  font-size: 50px;
  margin-top: 20px;
}
.icon-info {
  margin-right: 10px;
  font-size: 1.3em;
  font-weight: 400;

  color: #5f6368;
  letter-spacing: 4px;
}

.content {
  border: 1px solid #eee;
  padding: 30px;
  width: 100%;
  max-width: 650px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  flex-direction: row;
  position: absolute;
  left: 800px;
  top: 950px;
  width: 100%;
  flex-wrap: wrap;
}
.side {
  width: 100%;
  border-radius: 5px;
}
